@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=DM+Sans:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #e8e0d5;
  padding: 14px 10%;
  background: #f9f4ef;
}

.logoSolo {
  display: none;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: #8c7851;
  font-weight: 600;
  text-decoration: none;
}

.nav-links a {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 16px;
  color: #716040;
}

.logoutBtn,
.loginBtn {
  font-family: "Playfair Display", serif;
  background: transparent;
  border: 1px solid #c8b99a;
  color: #8c7851;
  padding: 4px 12px;
  margin-bottom: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}

header a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1f2028;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.user-section span {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #9e8c72;
  margin-bottom: 4px;
}

.logoutBtn:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  background-color: #d9cfcf;
}

@media (max-width: 600px) {
  header {
    padding: 14px 5%;
  }

  .logo {
    font-size: 18px;
  }

  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 11px;
  }

  .logoutBtn,
  .loginBtn {
    font-size: 9px;
    padding: 4px 8px;
    margin-bottom: 0px;
  }

  .user-section {
    gap: 8px;
  }

  .user-section span {
    font-size: 11px;
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .logo {
    display: none;
  }

  .logoSolo {
    font-family: "Playfair Display", serif;
    color: #8c7851;
    font-weight: 600;
    display: inline;
    margin-right: 20px;
  }

  .nav-links {
    position: static;
    transform: none;
  }

  .user-section span {
    margin-right: 10px;
  }
}
